<html>
  <head>
    
  </head>

  <body>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" /> 
    <h1>
    操作成功！
    </h1>
    <div class="msg_desc">
    <!-- <img style ="width:100%;overflow:hidden;" src="/images/g1.jpg" />   -->
    <img style ="" src="/images/1165307.gif" />   
    </div>  
    <p></p>
    <br />
	<link rel="stylesheet" href="/stylesheets/style.css" /> 
	<p></p> 
  </body>

</html>
